<div class="col-xs-12 practicePageHero bg-primary shadow-inset-top-bottom visible-xs">
    <div class="col-xs-12">
        <h3>Were You Involved In a<br> Bicycle Accident? </h3>
    </div>
    <div class="col-xs-12 col-md-12">
        <a ui-sref="free-consultation" class="btn wireButtonWhite">FIND OUT IF YOU HAVE A CASE</a>
    </div>
</div>

<figure>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-5">
        <img src="/assets/images/stock_images/bike-accidents.jpg" alt="Man in bicycle accident, jpg" class="img-responsive pull-left material-designShadow">
    </div>
</figure>

<section>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-7">
        <h3 class="section-header">Experienced Scottsdale {{pageTitle}} Attorney's</h3>
        <p>Rising fuel costs and growing eco-consciousness mean that bicycles are a more popular mode of transportation than ever. But increasing numbers of bikes on the roads mean increasing numbers of accidents - and these are often catastrophic events that lead to injury, disfigurement, and even the death of their victims.</p><br>
    </div>
</section>
<section>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 xs-colored">
        <h3 class="section-header text-primary">Aggressive Litigators That Understand</h3>
        <p>Bicycle accidents take place on all kinds of roads, in all types of weather, and under all types of conditions. However, some conditions are more dangerous than others. Generally, intersections are the most dangerous for cyclists, who can experience bike accidents when they are struck by a vehicle who disregard the cyclist's right of way or refuses to yield. Merging, turning, and stopping are all risky actions for cyclists, who are no match for the weight or speed of passenger vehicles.</p><br>
    </div>
</section>
<section>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h3 class="section-header">Bike Crashes Happen Far Too Often</h3>
        <p>Catastrophic injury ranging from broken bones to facial disfigurement, traumatic brain injury, paralysis, and even death are the far too common with many car/bike accidents. Worse still, bike crashes happen far too often: according to the United States Department of Transportation (DOT), over fifty percent of all bike accidents take place on major roadways. Two percent of all traffic injuries and deaths involve cyclists. Often, these accidents take place because motorists are ignorant of their obligations to cyclists or choose to ignore them in favor of getting to their destination more quickly.</p><br>
    </div>
</section>

<section>
    <div class="col-xs-12 col-md-12">
        <h3 class="section-header">Filing AZ Bicycle Accident Lawsuits</h3>
        <p>There were an estimated 494,000 bicycle-related injury emergency room visits in the United States in 2013. These injuries ranged from minor to catastrophic and included:</p><br>
        <ul class="fa-ul practicePageList">
            <li> <i class="fa-li fa fa-caret-right"></i>Cuts, road rashes and bruises</li>
            <li> <i class="fa-li fa fa-caret-right"></i>Broken or fractured bone injuries</li>
            <li> <i class="fa-li fa fa-caret-right"></i>Organ damage</li>
            <li> <i class="fa-li fa fa-caret-right"></i><a ui-sref="spinal-cord-injuries">Spinal cord injuries</a></li>
            <li> <i class="fa-li fa fa-caret-right"></i>Neck injuries</li>
            <li> <i class="fa-li fa fa-caret-right"></i>Paralysis injuries</li>
            <li> <i class="fa-li fa fa-caret-right"></i>Disfigurement</li>
            <li> <i class="fa-li fa fa-caret-right"></i><a ui-sref="brain-injuries">Brain injuries</a></li>
        </ul>
        <br>
        <p>Every case is unique and a jury will determine the amount of damages that may be awarded based on the circumstances of the victim's death, the victim's income and expected future earnings, and the non-economic losses suffered by each eligible survivor.</p><br>
    </div>
</section>

<section>
    <div class="col-xs-12 col-md-12 xs-colored">
        <h3 class="section-header text-primary">The Sooner You Call Us, the Faster We Can Investigate Your Accident</h3>
        <p>If you or a loved one has been injured in a life-altering bicycle accident in Arizona, or tragic wrongful death accident, contact Goldman Accident lawyers. We will fight hard  and work for you to get you the compensation you deserve to cover medical appointments, lost wages and other expenses and damages.</p><br>
    </div>
</section>
