<div class="col-xs-12 practicePageHero bg-primary shadow-inset-top-bottom visible-xs">
    <div class="col-xs-12">
        <h3>Do You Need a {{pageTitle}} Attorney?</h3>
    </div>
    <div class="col-xs-12 col-md-12">
        <a ui-sref="free-consultation" class="btn wireButtonWhite">FIND OUT IF I HAVE A CASE</a>
    </div>
</div>

<figure>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-5">
        <img src="/assets/images/stock_images/arizona-boating-accident-lawyer.jpg" alt="Arizona boat accident, boat accident claims" class="img-responsive pull-left material-designShadow">
    </div>
</figure>

<section>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-7">
        <h3 class="section-header">Arizona {{pageTitle}} Attorney's</h3>
        <p>Whether relaxing and having fun or traveling, boats are an increasingly popular activity. But what happens when a day on the water goes awry? Boating accidents occur all too often in the nearly 14 million registered watercraft in this country, and the injuries that result can cause disability and even death in their victims.</p><br>
    </div>
</section>

<section>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <p>Arizona boating accident injuries can be as minor as a first degree burn or scrape to a traumatic brain or spinal injury. Unfortunately, some boat accidents can also be fatal. It is important that you contact an Arizona boating accident lawyer at Goldman Accident Lawyers as soon as you or a loved one have been seriously hurt or fatally injured in a boating accident.</p><br>
        <p>Though safety is stressed by local law enforcement, all too often boats are not equipped with proper safety equipment such as life vests and fire extinguishers. In addition to a lack of training and rescue experience, some boat operators use alcohol or drugs while on the water, creating a dangerous situation for themselves and their passengers. In cases in which an operator's negligence or carelessness caused or contributed to a boating accident, victims of injury can claim compensation in court, collecting money for damages related to the costs of care, lost time from work, and pain and suffering.</p><br>
    </div>
</section>

<section>
    <div class="col-xs-12 col-md-12">
        <h3 class="section-header text-primary">What Are the Most Common Causes of Boat Accident Injuries?</h3>
        <p>Some boat accident injuries can be easily avoided by practicing common sense. Others are completely out of the hands of the vessel operator and / or boat passenger(s).</p><br>
        <p>Properly fitting life jackets, keeping a look out for other boaters and personal water craft operators and following basic waterway rules and laws can help reduce your chances of a severe or fatal accident.</p><br>
        <p>A few of the most common causes of boat accident injuries on Arizona lakes and waterways include:</p><br>
        <ul class="fa-ul practicePageList">
            <li> <i class="fa-li fa fa-caret-right"></i>Slippery boat deck</li>
            <li> <i class="fa-li fa fa-caret-right"></i>Improper boat maintenance</li>
            <li> <i class="fa-li fa fa-caret-right"></i>Passengers acting recklessly</li>
            <li> <i class="fa-li fa fa-caret-right"></i>Proper safety gear is not on vessel</li>
            <li> <i class="fa-li fa fa-caret-right"></i>Boat operator is driving distracted</li>
            <li> <i class="fa-li fa fa-caret-right"></i>Boat operator is driving recklessly</li>
            <li> <i class="fa-li fa fa-caret-right"></i>Vessel collides with another boat or underwater object</li>
            <li> <i class="fa-li fa fa-caret-right"></i>Boat operator is driving under the influence of drugs and / or alcohol</li>
        </ul>
        <br>
        <p>After you or a loved one has been injured in a boat accident, you need to report the incident within 48 hours to the Arizona Game and Fish Department. You also need to contact an Arizona boating accident lawyer.  Goldman Accident Lawyers are skilled at representing clients with personal injury claims caused by the negligent actions of another.</p><br>
    </div>
</section>
