<div class="col-xs-12 practicePageHero bg-primary shadow-inset-top-bottom visible-xs">
    <div class="col-xs-12">
        <h3>Do You Need a {{pageTitle}} Attorney?</h3>
    </div>
    <div class="col-xs-12 col-md-12">
        <a ui-sref="free-consultation" class="btn wireButtonWhite">FIND OUT IF I HAVE A CASE</a>
    </div>
</div>

<figure>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-5">
        <img src="/assets/images/stock_images/brain-injuries.jpg" alt="Brain Injury, head injury cliam exam, jpg" class="img-responsive pull-left material-designShadow">
    </div>
</figure>

<section>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-7">
        <h3 class="section-header">Experienced Scottsdale {{pageTitle}}/ Paralysis Attorney's</h3>
        <p>If you've suffered a catastrophic injury that resulted in paralysis or Traumatic Brain Injury (TBI), your life will never be the same again. You may be bitter and angry about your disabilities, or frustrated about how your paralysis/ TBI will affect your family and your ability to provide for them. There is no question that Phoenix families suffer emotionally and financially when they have a loved one paralyzed because of an accident or act of violence.</p><br>
    </div>
</section>

<section>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <p>Traumatic brain injuries (TBI) can happen at any time and to anyone. The problem with these types of injuries is that the severity of the injury may not be noticed until it is too late to prevent serious damage. TBIs can range in severity from a mild concussion or other minor head injuries to more serious intracranial injuries that cause pressure buildup, bleeding in the brain, skull fractures, tears in the brain caused by lodged objects and projectiles, coma, and death.</p><br>
    </div>
</section>

<section>
    <div class="col-xs-12 col-md-12 xs-colored">
        <h3 class="section-header text-primary">What are Different Types of Paralysis?</h3>
        <p>Paralysis affects individuals of all ages. Newborns, teenagers and adults are all subject to injuries that can lead to paralysis. Our experienced attorneys assist with the following types of paralysis injuries and closely related accidents:</p><br>
        <ul class="fa-ul practicePageList">
            <li> <i class="fa-li fa fa-caret-right"></i></i>Paraplegia</li>
            <li> <i class="fa-li fa fa-caret-right"></i>Quadriplegia</li>
            <li> <i class="fa-li fa fa-caret-right"></i>Tetraplegia</li>
            <li> <i class="fa-li fa fa-caret-right"></i>Spinal cord injuries</li>
            <li> <i class="fa-li fa fa-caret-right"></i>Brain Injuries</li>
            <li> <i class="fa-li fa fa-caret-right"></i>Catastrophic injuries</li>
            <li> <i class="fa-li fa fa-caret-right"></i>Car accident injuries</li>
            <li> <i class="fa-li fa fa-caret-right"></i>Violent attack injuries</li>
        </ul>
        <br>
        <p>When you or a loved one has been paralyzed due to the negligence of another, our personal injury law firm will fight to ensure that your future ongoing needs are provided for and protected. We also want to make the claim process as easy as possible, so if you are not able to come to us, we will come to you.</p><br>
    </div>
</section>

<section>
    <div class="col-xs-12 col-md-12">
        <h3 class="section-header text-primary">What Are Symptoms of a Traumatic Brain Injury?</h3>
        <p>Symptoms of a TBI may be immediate or may can take days or weeks to appear.  They can range in severity too from physical to psychological damage.  That is why, even if there are no immediate signs of injury, we strongly recommend you seek medical attention immediately after you or a loved one were in an accident or physically attacked.</p><br>
        <p>A few possible symptoms of moderate to severe brain damage may include:</p><br>
        <ul class="fa-ul practicePageList">
            <li> <i class="fa-li fa fa-caret-right"></i></i>Loss of consciousness</li>
            <li> <i class="fa-li fa fa-caret-right"></i>Confusion and or agitation</li>
            <li> <i class="fa-li fa fa-caret-right"></i>Loss of speech abilities and coordination</li>
            <li> <i class="fa-li fa fa-caret-right"></i>Seizures</li>
            <li> <i class="fa-li fa fa-caret-right"></i>Severe headaches that won’t go away</li>
            <li> <i class="fa-li fa fa-caret-right"></i>Vomiting or nausea</li>
            <li> <i class="fa-li fa fa-caret-right"></i>Dilated pupils</li>
            <li> <i class="fa-li fa fa-caret-right"></i>Clear fluids draining from ears or nose</li>
        </ul>
        <p>If you or a loved one has been diagnosed with a brain injury after a traumatic event or accident, contact Goldman Accident Lawyers immediately to have your case evaluated.</p><br>
    </div>
</section>
