<div class="col-xs-12 practicePageHero bg-primary shadow-inset-top-bottom visible-xs">
    <div class="col-xs-12">
        <h3>Do You Need a {{pageTitle}} Attorney?</h3>
    </div>
    <div class="col-xs-12 col-md-12">
        <a ui-sref="free-consultation" class="btn wireButtonWhite">FIND OUT IF I HAVE A CASE</a>
    </div>
</div>

<figure>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-5">
        <img src="/assets/images/stock_images/burn-injuries.jpg" alt="Hand burn injury, burn injury lawsuit, jpg" class="img-responsive pull-left material-designShadow">
    </div>
</figure>

<section>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-7">
        <h3 class="section-header">Experienced Scottsdale {{pageTitle}} Attorney's</h3>
        <p>The effects of a burn injury can be long-lasting and life-threatening, including chronic pain, infection, and even amputation. If you have suffered trauma of this kind and believe another party is to blame, you may be able to pursue your claim through Arizona's court system. Often all it takes to mount a compelling suit is a viable case and quality legal representation from an experienced Arizona personal injury attorney.</p><br>
    </div>
</section>
<section>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 xs-colored">
        <h3 class="section-header text-primary">Serious Burn Injuries</h3>
        <p>Every year, more than 2.5 million burn injuries are reported nationwide. About 4,500 of these burns end in death, according to the American Burn Association. Burn injuries are a close second in the leading causes of accidental deaths in the nation, following auto accidents. Burn injuries can require extensive treatment and can leave victims and their families financial unstable.</p><br>
        <p>If you or a loved one has suffered burn injuries caused by the negligence or recklessness of another person or entity, it is important to contact an experienced Phoenix burn injury lawyer as you may be eligible to receive compensation for your losses.</p><br>
    </div>
</section>

<section>
    <div class="col-xs-12 col-md-12">
        <h3 class="section-header text-primary">What are Common Causes of Burn Injury Accidents?</h3>
        <p>There are many different causes of burn injuries. The most common include:</p><br>
          <ul class="fa-ul practicePageList">
              <li> <i class="fa-li fa fa-caret-right"></i></i>Open flames / fire</li>
              <li> <i class="fa-li fa fa-caret-right"></i>Scalding hot steam, water or  beverages</li>
              <li> <i class="fa-li fa fa-caret-right"></i>Lit cigarettes, irons or coals</li>
              <li> <i class="fa-li fa fa-caret-right"></i>Defective electronic appliances or electric wires</li>
              <li> <i class="fa-li fa fa-caret-right"></i>Harmful chemicals or fumes</li>
              <li> <i class="fa-li fa fa-caret-right"></i>Fireworks</li>
              <li> <i class="fa-li fa fa-caret-right"></i>Radiation exposure</li>
              <li> <i class="fa-li fa fa-caret-right"></i>Lightning strikes</li>
          </ul>
        <br>
        <p>Depending on the severity of injuries – multiple surgeries and long-term extensive medical care and physical and mental therapy may be necessary for a full and healthy recovery. It is important that you contact an experienced law firm.  Goldman Accident Lawyers can help you get the justice you deserve.</p><br>
    </div>
</section>
