<div class="col-xs-12 practicePageHero bg-primary shadow-inset-top-bottom visible-xs">
    <div class="col-xs-12">
        <h3>Do You Need a {{pageTitle}} Attorney?</h3>
    </div>
    <div class="col-xs-12 col-md-12">
        <a ui-sref="free-consultation" class="btn wireButtonWhite">FIND OUT IF I HAVE A CASE</a>
    </div>
</div>

<figure>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-5">
        <img src="/assets/images/stock_images/catastrophic-injury-lawyer-arizona.jpg" alt="{{pageTitle}}, Picture of man in wheel chair, jpg" class="img-responsive pull-left material-designShadow">
    </div>
</figure>

<section>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-7">
        <h3 class="section-header">Experienced Scottsdale {{pageTitle}} Attorney's</h3>
        <p>Catastrophic injuries are defined as severe injuries - usually a traumatic brain injury, a blow to the head, or a spinal cord trauma - that require wide-ranging medical attention and long term care. These injuries are life-changing for not only the injured but their families as well. Most of the time these injuries are sudden and unexpected making the experience that much more difficult. Car accidents are responsible for many of those who are catastrophically injured every year.</p><br>
    </div>
</section>

<section>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <p>Aside from head, neck and back injuries, catastrophic injuries include amputations, numerous fractures, neurological disorders, loss of eyesight, and serious burns. The financial burden to injured victims and their families can be tremendous. Hospital bills and surgeries, long term medical attention, and possible physical/mental rehabilitation are more than most people can afford.</p><br>
        <p>Scottsdale personal injury attorneys at Goldman Accident Lawyers have helped countless victims and their families obtain substantial settlements for their losses. If you or a loved one have suffered a catastrophic injury, you may be entitled to financial compensation for your losses.</p><br>
    </div>
</section>

<section>
    <div class="col-xs-12 col-md-12">
        <h3 class="section-header text-primary">What Are Catastrophic Injuries?</h3>
        <p>Goldman Accident Lawyers handle all kinds of catastrophic injury cases, including:</p><br>
        <ul class="fa-ul practicePageList">
            <li> <i class="fa-li fa fa-caret-right"></i>Traumatic Brain Injury</li>
            <li> <i class="fa-li fa fa-caret-right"></i>Severe Brain Injury</li>
            <li> <i class="fa-li fa fa-caret-right"></i>Spinal Cord Injury</li>
            <li> <i class="fa-li fa fa-caret-right"></i>Neurological Disorders</li>
            <li> <i class="fa-li fa fa-caret-right"></i>Eye Injuries</li>
            <li> <i class="fa-li fa fa-caret-right"></i>Accidental Amputation</li>
            <li> <i class="fa-li fa fa-caret-right"></i>Multiple Bone Fractures</li>
            <li> <i class="fa-li fa fa-caret-right"></i>Organ Damage</li>
            <li> <i class="fa-li fa fa-caret-right"></i>Back, Shoulder and Neck Injuries</li>
            <li> <i class="fa-li fa fa-caret-right"></i>Paralysis, Paraplegia or Quadriplegia</li>
            <li> <i class="fa-li fa fa-caret-right"></i>Drastic Personality Changes</li>
        </ul>
        <br>
        <p>If you believe you or a loved one is the victim of a catastrophic injury in the state of Arizona, you should contact an experienced personal injury law firm as soon as possible.</p><br>
    </div>
</section>
