<div class="col-xs-12 practicePageHero bg-primary shadow-inset-top-bottom visible-xs">
    <div class="col-xs-12">
        <h3>Do You Need a {{pageTitle}} Attorney?</h3>
    </div>
    <div class="col-xs-12 col-md-12">
        <a ui-sref="free-consultation" class="btn wireButtonWhite">FIND OUT IF I HAVE A CASE</a>
    </div>
</div>

<figure>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-5">
        <img src="/assets/images/stock_images/dog-bite-injury-lawyers.png" alt="Young Boy and a dog, png" class="img-responsive pull-left material-designShadow">
    </div>
</figure>

<section>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-7">
        <h3 class="section-header">Scottsdale {{pageTitle}} Attorney's</h3>
        <p>Dog attacks can cause devastating injuries in a matter of moments. Tragically, most victims never expect to be injured by an animal they see as a friend or loved one. Both children and adults alike can be severely harmed by a dog and can carry both physical and emotional scars for many years afterward.</p><br>
    </div>
</section>

<section>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <p>If you or your loved one has been harmed in a dog attack, do not hesitate to get in touch with the legal team at Goldman Accident Lawyers.  We are dedicated to help victims cope with their injuries and recover as much as physically possible, all by holding at-fault parties responsible for the incident. Contact us and learn more about what we can do to help you.</p><br>
        <p>In Arizona, regardless of whether or not a dog has bitten someone before, the owners of the dog can be liable for any bites or injuries suffered by the person attacked. Even if the dog was with another person other than the owner and was not properly confined or on a leash when the dog attack occurred, that person can also be held liable for damages suffered.</p><br>
    </div>
</section>

<section>
    <div class="col-xs-12 col-md-12">
        <h3 class="section-header text-primary">What Do I Do after a Dog Bite?</h3>
        <p>After a dog attack you should seek immediate medical attention, call the police to file an incident report and then contact an experienced dog bite lawyer. The sooner the better as the statute of limitations for filing a dog bite law claim in Arizona is one year.</p><br>
        <p>Once you contact Goldman Accident Lawyers we are prepared to:</p><br>
        <ul class="fa-ul practicePageList">
            <li> <i class="fa-li fa fa-caret-right"></i>Investigate the dog owner to determine if they were negligent in the handling or care of the dog.</li>
            <li> <i class="fa-li fa fa-caret-right"></i>Gather and document evidence by taking photos of the victims injuries, compiling information regarding the attack and collecting copies of medical reports for future examination.</li>
            <li> <i class="fa-li fa fa-caret-right"></i>Negotiate with an insurance company for the best possible settlement to cover injuries and loses.</li>
        </ul>
        <br>
    </div>
</section>
