<div class="col-xs-12 practicePageHero bg-primary shadow-inset-top-bottom visible-xs">
    <div class="col-xs-12">
        <h3>Do You Need a {{pageTitle}} Attorney?</h3>
    </div>
    <div class="col-xs-12 col-md-12">
        <a ui-sref="free-consultation" class="btn wireButtonWhite">FIND OUT IF I HAVE A CASE</a>
    </div>
</div>

<figure>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-5">
        <img src="/assets/images/stock_images/dui_accident.jpg" alt="Wrongful death, Picture of a funeral" class="img-responsive pull-left material-designShadow">
    </div>
</figure>

<section>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-7">
        <h3 class="section-header">Experienced Scottsdale {{pageTitle}} Attorney's</h3>
        <p>Injury or death caused by drunk driving can be the most anger-provoking and upsetting of all types of personal injury cases. The fact that an innocent victim has suffered severe or fatal injury due to someone else’s irresponsibility often outrages members of the community as well. At Goldman Accident Lawyers, our personal injury lawyers aggressively pursue claims against those who drink irresponsibly as well as the nightclubs, bars, and restaurants who improperly serve them.</p><br>
    </div>
</section>
<section>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h3 class="section-header">Alcohol-impaired Driving Accidents</h3>
        <p>The National Highway Transportation Safety Administration has stated that 10,322 people were killed in alcohol-impaired-driving accidents in 2012. Although laws cannot replace loved ones, it does help by providing a means of recovery for victims and their families.</p><br>
        <br>
    </div>
</section>

<section>
    <div class="col-xs-12 col-md-12">
        <h3 class="section-header">What Damages Can be Recovered?</h3>
        <p>Victims are able to sue the drunk driver under general negligence laws, but in many cases the drunk driver is either uninsured or underinsured and does not have enough assets to support a lawsuit.</p><br>

        <p>Even if there’s no way to regain financial loss from the drunk driver, there are often ways to pursue recovery against the person or establishment that provided the alcohol to the drunk driver. People who serve alcohol can be liable under Arizona state law for damages that result from the consumption of alcoholic beverages. A.R.S. § 4-311. Liability can be obligatory under either set state laws ("dram shop acts") or under general negligence law. Dram (or “liquor”) shop acts are laws that entail legal responsibility for carelessness of sellers of alcohol for selling to people who are under the legal drinking age or are clearly intoxicated. A.R.S. § 4-311. A bar, restaurant or liquor store can be held responsible for destruction caused as a result of their alcoholic consumption if it sold alcohol to an individual underage or someone who was clearly intoxicated. A.R.S. § 4-311.</p><br>
    </div>
</section>

<section>
    <div class="col-xs-12 col-md-12 xs-colored">
        <h3 class="section-header">Who Can Be Held Responsible?</h3>
        <p>Legal responsibility can also be attached to ‘social hosts’. A social host can be anyone who is serving alcohol in a social environment like their house, a party or even a work function. The social host is not obligated monitor their guest’s alcohol consumption unless they can reasonably notice a problem and stop it. However, in the state of Arizona the social host can’t be held liable. A.R.S. § 4-301.</p><br>
    </div>
</section>

<section>
    <div class="col-xs-12 col-md-12">
        <h3 class="section-header">Don't Wait to File a Claim</h3>
        <p>It is vital that all measures be taken in a timely manner to protect evidence, investigate the drunk driver accident in question, and allow doctors or other expert witnesses to carefully assess any injuries. If you or a loved one have suffered because of an accident involving a drunk driver, call us today <a href="{{phoneNumber}}">{{phoneNumber}}</a>. Your first case review will be free of charge. Don’t wait! You could very well have a legitimate claim and be entitled to reimbursement for your injuries, but the lawsuit needs to be filed before the expiration of the statute of limitations.</p><br>
    </div>
</section>
