<div class="col-xs-12 practicePageHero bg-primary shadow-inset-top-bottom visible-xs">
    <div class="col-xs-12">
        <h3>Do You Need a {{pageTitle}} Attorney?</h3>
    </div>
    <div class="col-xs-12 col-md-12">
        <a ui-sref="free-consultation" class="btn wireButtonWhite">FIND OUT IF I HAVE A CASE</a>
    </div>
</div>

<figure>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-5">
        <img src="/assets/images/stock_images/truck-accident-attorney.jpg" alt="Wrongful death, Picture of a funeral" class="img-responsive pull-left material-designShadow">
    </div>
</figure>

<section>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-7">
        <h3 class="section-header">Experienced Scottsdale {{pageTitle}} Attorney's</h3>
        <p>Large truck crashes happen all across Arizona and the United States as a whole. And while they may be caused by a wide variety of reasons, they have two things in common. One, big rig crashes frequently cause devastating injuries and deaths, and two, the most severely harmed are almost always the people outside the truck.</p><br>
    </div>
</section>
<section>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 xs-colored">
        <h3 class="section-header text-primary">Compensation For Your Injuries</h3>
        <p>If you or a loved one has been involved in a large truck accident, know that you have rights as a victim. The legal team at the Goldman Accident Lawyers can hold the people who harmed you responsible so that you can receive fair and full compensation for the severe losses from the accident. With a free consultation from our trusted Arizona trucking accident lawyers, you can better understand your accident and legal rights so that you can make the best choice in your case.</p><br>
        <p>Our Arizona semi truck accident lawyers have helped accident victims obtain the maximum compensation for injuries and damages.  We understand that these types of accidents can be much more serious and life-altering than other car accidents.  That is why we are prepared to investigate the accident, contact all parties involved for detailed reports, and ask key questions to help ensure that you receive fair compensation for your injuries.</p><br>
    </div>
</section>

<section>
    <div class="col-xs-12 col-md-12 ">
        <h3 class="section-header text-primary">What Caused My Truck Accident?</h3>
        <p>Like all auto accidents, there are many different factors that frequently cause big rig crashes. However, these causes can often be even more complex and involve numerous at-fault parties. These are some of the most common truck accident causes:</p><br>
        <ul class="fa-ul practicePageList">
            <li> <i class="fa-li fa fa-caret-right"></i></i>Dangerous actions taken by truck drivers, such as driving drunk, speeding, or improperly handling their vehicles.</li>
            <li> <i class="fa-li fa fa-caret-right"></i>Truck drivers who violate state and federal regulations, including the Hours-of-Service rules and guidelines regarding work schedules.</li>
            <li> <i class="fa-li fa fa-caret-right"></i>Trucking companies who incentivize or threaten drivers into breaking the law, leading to dangerous behavior on the road.</li>
            <li> <i class="fa-li fa fa-caret-right"></i>Failing truck parts that cause the driver to lose control or the big rig to break down on the road. This can lead to major incidents like a jackknife or a runaway trailer.</li>
            <li> <i class="fa-li fa fa-caret-right"></i>Dangerous roads that are either poorly designed or that have been seriously damaged and left unrepaired by responsible government agencies.</li>
            <li> <i class="fa-li fa fa-caret-right"></i>Other passenger vehicle drivers who act recklessly, leading to a chain reaction on the road that involves a tractor trailer.</li>
        </ul>
        <br>
        <p>By investigating your crash and collecting both evidence and eye witness testimony, you can better understand the chain of events that led to the incident.</p><br>
    </div>
</section>
