<div class="col-xs-12 practicePageHero bg-primary shadow-inset-top-bottom visible-xs">
    <div class="col-xs-12">
        <h3>Do You Need a {{pageTitle}} Attorney?</h3>
    </div>
    <div class="col-xs-12 col-md-12">
        <a ui-sref="free-consultation" class="btn wireButtonWhite">FIND OUT IF I HAVE A CASE</a>
    </div>
</div>

<figure>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-5">
        <img src="/assets/images/stock_images/pedestrian-accident-lawyer.jpg" alt="Pedestrian accident, car hitting pedestrian, jpg" class="img-responsive pull-left material-designShadow">
    </div>
</figure>

<section>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-7">
        <h3 class="section-header">Experienced Scottsdale {{pageTitle}} Attorney's</h3>
        <p>If you, or a loved one, have recently been struck by a car while walking and suffered serious injuries as a result, you may be entitled to compensation. Contact the Goldman Accident Attorneys to discover your legal options. By law, pedestrians have the right of way in many instances. The motorist who disregarded your safety is likely in violation of state code, and liable for whatever damages you, or your family member, have suffered.</p><br>
    </div>
</section>
<section>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <p>While insurance companies are legally obligated to uphold their side of the bargain with the at-fault driver, they will not settle easily. Quite often, it takes the presence of a dedicated legal team to make these adjustor's, and their clients, see reason. The Goldman Accident lawyers have years of experience dealing with aggressive insurance companies and the clients they represent. We know their tricks and how best to get the settlement you need.</p><br>
        <p>A pedestrian who is hit by a car has a higher likelihood of sustaining life threatening injuries than the driver of a vehicle or passengers involved in a car crash. If you or a loved one is injured because you are hit by a car in a pedestrian accident, you should seek a pedestrian accident attorney to help you recover the medical costs and compensation you deserve.</p><br>
    </div>
</section>

<section>
    <div class="col-xs-12 col-md-12 xs-colored">
        <h3 class="section-header text-primary">Why Are Pedestrians Hit by Cars in Arizona?</h3>
        <p>While pedestrians should always look out for cars while in the streets, most people hit by cars are unable to avoid the accident, even when they are following the law and all posted safety signs and signals. Many pedestrian accidents are the fault of drivers who are:</p><br>
        <ul class="fa-ul practicePageList">
            <li> <i class="fa-li fa fa-caret-right"></i>Driving recklessly and speeding</li>
            <li> <i class="fa-li fa fa-caret-right"></i>Driving while under the influence of drugs or alcohol</li>
            <li> <i class="fa-li fa fa-caret-right"></i>Failing to pay attention or driving while distracted</li>
        </ul>
        <br>
        <p>If you or a loved one have been hit by a car through no fault of your own, you will need a pedestrian accident attorney to help you sort out the details of who was at fault and collect compensation for your medical bills, as well as pain and suffering.</p><br>
    </div>
</section>

<section>
    <div class="col-xs-12 col-md-12">
        <h3 class="section-header text-primary">I've Been In A Pedestrian Accident in Phoenix – Now What?</h3>
        <p> Above all, your claim will need evidence. Because so much of your case depends on what occurred within the moments leading up to, and following the accident, the information gathered on-site is invaluable. Photographs or video of the scene, witness statements, and physical evidence can all play a significant role in the claims process.</p><br>
        <p>Then contact the Goldman Accident Lawyers and discuss your legal options. While the last thing on your mind may be hiring an attorney, you will be taking the proper steps to preserve any claim you wish to pursue both now and in the future. Remember – the state of Arizona maintains a statute of limitations on all personal injury claims that ultimately will bar you from collecting any compensation after 2 years.  If you are filing against the city or township in which your accident occurred, the time frame is even smaller – 6 months or less. Don't let your opportunity slip by – call our office today.</p><br>
    </div>
</section>
