<div class="col-xs-12 practicePageHero bg-primary shadow-inset-top-bottom visible-xs">
    <div class="col-xs-12">
        <h3>Do You Need a {{pageTitle}} Attorney?</h3>
    </div>
    <div class="col-xs-12 col-md-12">
        <a ui-sref="free-consultation" class="btn wireButtonWhite">FIND OUT IF I HAVE A CASE</a>
    </div>
</div>

<figure>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-5">
        <img src="/assets/images/stock_images/Personal-Injury-Lawyers.jpg" alt="personal injury claim form, Persoanl injury lawsuit form" class="img-responsive pull-left material-designShadow">
    </div>
</figure>

<section>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-7">
        <h3 class="section-header">Experienced Scottsdale {{pageTitle}} Attorney's</h3>
        <p>The legal team at Goldman Accident Lawyers has seen how a personal injury accident can change an injured victim's life in mere moments. If you have been hurt in an accident that someone else caused, you may be left coping with devastating injuries, steep bills, and seemingly no way of recovering.</p><br>
    </div>
</section>

<section>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <p>What you may not know is that what you have suffered is a "personal injury," which, under Arizona law, allows you to pursue payment for your losses from the person or people that harmed you. Knowing what this means and what actions you can legally take are highly important, and can dictate the course of your recovery and wellbeing for years to come.</p><br>
        <p>Goldman Accident lawyers have decades of experience as Scottsdale personal injury attorneys. With the help of entire legal team at the Goldman Accident Law Offices, you or your injured loved one can receive skilled legal representation throughout the entirety of your personal injury case. We work to prove fault and get you the compensation you deserve and need for your major injuries and financial losses. To learn more through a free evaluation of your case, contact us today and speak with a member of our legal team.</p><br>
    </div>
</section>

<section>
    <div class="col-xs-12 col-md-12">
        <h3 class="section-header text-primary">Do I Have a Personal Injury Case?</h3>
        <p>If you have been hurt in an incident that was directly caused by another person or group's negligence or their dangerous property, then you may have the right to file a personal injury case. Common personal injury cases include:</p><br>
        <ul class="list-group">
            <ul class="fa-ul practicePageList">
                <li ng-repeat="practice in practiceAreas | orderBy:'id'" ng-if="$index > 0 && $index < 7"> <i class="fa-li fa fa-caret-right"></i></i><a ui-sref="{{practice.url}}">{{practice.titlePlural}}</a></li><br>
                <a ui-sref="practice-areas" class="btn wireButtonPrimary btn-sm">View All Case Types</a>
        </ul>
        <br>
        <p>In all of these cases, the hurt victim can seek to hold the person who caused the incident at fault, forcing them and their insurance providers to pay for the injuries and debt that resulted.</p><br>
        <p>What's important to note is that personal injury cases do not depend on whether something was legal or illegal, and no at-fault parties has to be convicted of a crime in order to be made to pay a victim. Often, people who cause personal injury accidents have violated the law in some manner, such as breaking the speed limit in a car crash, but many of these cases center around negligence instead of malicious actions.</p><br>
        <p>As long as you can prove that the person or organization that you have accused has actually caused the accident and your injuries, then you may be able to win your case and the compensation you are searching to receive.</p><br>
    </div>
</section>
