<div class="col-xs-12 practicePageHero bg-primary shadow-inset-top-bottom visible-xs">
    <div class="col-xs-12">
        <h3>Do You Need a {{pageTitle}} Attorney?</h3>
    </div>
    <div class="col-xs-12 col-md-12">
        <a ui-sref="free-consultation" class="btn wireButtonWhite">FIND OUT IF I HAVE A CASE</a>
    </div>
</div>

<figure>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-5">
        <img src="/assets/images/stock_images/slip-and-fall-attorney.jpg" alt="Slip and fall accident, woman slipping and falling, jpg" class="img-responsive pull-left material-designShadow">
    </div>
</figure>

<section>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-7">
        <h3 class="section-header">Experienced Scottsdale {{pageTitle}} Attorney's</h3>
        <p>If you or someone you care about has suffered from a slip-and-fall accident, you know how serious the consequences can be. Traumatic brain injuries, spinal cord damage, and broken bones are just some of the common injuries caused by seemingly simple slip-and-fall accidents.</p><br>
    </div>
</section>

<section>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <p>If negligence is to blame, you may be able to improve your chances for recovering through a personal injury claim. Whether the resulting injuries are minor or severe, with a skilled attorney on your side, it is possible to obtain compensation for the cost of medical care, lost wages, and even pain and suffering related to the accident.</p><br>
        <p>It is important to at least consider your options after you or a loved one has been injured by the reckless actions or wrongdoing of another. To make an informed decision, please contact Goldman Accident Lawyers as soon as possible after a slip and fall. We have years of experience fighting on behalf of clients that have been injured through no fault of their own.</p><br>
    </div>
</section>

<section>
    <div class="col-xs-12 col-md-12">
        <h3 class="section-header text-primary">What are Slip and Fall Injuries?</h3>
        <p>A slip and fall or trip and fall injury occurs when your foot makes contact with an uneven, slippery, unstable or loose surface that causes you to lose your balance and fall down. Types of slip and fall injuries include:</p><br>
        <ul class="fa-ul practicePageList">
              <li> <i class="fa-li fa fa-caret-right"></i>Twisted Ankles</li>
              <li> <i class="fa-li fa fa-caret-right"></i>Twisted Legs</li>
              <li> <i class="fa-li fa fa-caret-right"></i>Torn Muscles</li>
              <li> <i class="fa-li fa fa-caret-right"></i>Broken Bones</li>
              <li> <i class="fa-li fa fa-caret-right"></i>Concussions</li>
              <li> <i class="fa-li fa fa-caret-right"></i>Wrongful Death</li>
          </ul>
        <br>
        <p>A few items that you as an injury victim can collect that may help us win compensation for injuries and damages after a slip and fall include:</p><br>
        <ul class="fa-ul practicePageList">
              <li> <i class="fa-li fa fa-caret-right"></i>Copies of photos taken at the accident scene showing the cause of injury.</li>
              <li> <i class="fa-li fa fa-caret-right"></i>Names and contact information of any witnesses.</li>
              <li> <i class="fa-li fa fa-caret-right"></i>Copy of an incident report if there was one filed.</li>
              <li> <i class="fa-li fa fa-caret-right"></i>Copy of medical receipts and records for medical care after the slip and fall.</li>
          </ul>
    </div>
</section>
