<div class="col-xs-12 practicePageHero bg-primary shadow-inset-top-bottom visible-xs">
    <div class="col-xs-12">
        <h3>Do You Need a {{pageTitle}} Attorney?</h3>
    </div>
    <div class="col-xs-12 col-md-12">
        <a ui-sref="free-consultation" class="btn wireButtonWhite">FIND OUT IF I HAVE A CASE</a>
    </div>
</div>

<figure>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-5">
        <img src="/assets/images/stock_images/phoenix-neck-injury-lawyer.jpg" alt="Whiplash after a car accident, young man hurt in car accident" class="img-responsive pull-left material-designShadow">
    </div>
</figure>

<section>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-7">
        <h3 class="section-header">Do you have a whiplash injury from an accident?</h3>
        <p>You should accept medical treatment after any type of accident that caused you to be jerked about abruptly. The reason being that symptoms of soft tissue injuries, such as neck sprains and whiplash, can take time to appear.  One moment you may feel okay and the next day feelings of stiffness and soreness can start to slowly spread throughout your body. This progression of pain may be a sign that you experienced a more serious injury than you initially thought.</p><br>
    </div>
</section>

<section>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <p>Insurance companies and juries are skeptical of claims for whiplash and other soft tissue injuries. The injuries can seem vague or exaggerated, especially if the person has no outwardly visible wounds or if there was little property damage in the auto collision.  The Goldman Accident Lawyers know that soft tissue injuries are very real, painful and potentially disabling.</p><br>
        <p>We know that doctors provide a neck brace or a sling or crutches for a reason. Our attorneys excel at documenting the damage — both medically and in terms of the impact on your life.</p><br>
    </div>
</section>

<section>
    <div class="col-xs-12 col-md-12">
        <h3 class="section-header text-primary">What Are Common Causes of Soft Tissue Injuries?</h3>
        <p>The most common accidents that result in whiplash and soft tissue injuries are:</p><br>
        <ul class="fa-ul practicePageList">
            <li> <i class="fa-li fa fa-caret-right"></i>Car Accidents</li>
            <li> <i class="fa-li fa fa-caret-right"></i>Semi Truck Accidents</li>
            <li> <i class="fa-li fa fa-caret-right"></i>Workplace Accidents</li>
        </ul>
        <br>
        <p>A Goldman Accident lawyer is ready to help you with your's or a loved one's whiplash and soft tissue injury. Don’t delay in contacting us for legal help! If your injury prevents you from visiting one of our offices, we will send one of our personal injury attorneys to your home, hospital or other healthcare facility. Call 480-626-8483 or fill out a free online case evaluation form below.</p><br>
    </div>
</section>
