<div class="col-xs-12 practicePageHero bg-primary shadow-inset-top-bottom visible-xs">
    <div class="col-xs-12">
        <h3>Do You Need a {{pageTitle}} Attorney?</h3>
    </div>
    <div class="col-xs-12 col-md-12">
        <a ui-sref="free-consultation" class="btn wireButtonWhite">FIND OUT IF I HAVE A CASE</a>
    </div>
</div>

<figure>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-5">
        <img src="/assets/images/stock_images/spinal-cord-injury.jpg" alt="Spinal Cord injury, Hurt back from whiplash" class="img-responsive pull-left material-designShadow">
    </div>
</figure>

<section>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-7">
        <h3 class="section-header">Experienced Scottsdale {{pageTitle}} Attorney's</h3>
        <p>Every part of the body works together, and they do it with the help of the spinal cord. Without the spinal cord, the brain and the body can’t communicate about movement, sensations, and decisions that must be made. Which is why spinal cord injuries have devastating effects on the people who suffer from them.</p><br>
    </div>
</section>
<section>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <p>Spinal cord injuries can happen in a wide variety of accidents and can cause serious problems for motor function, the ability to take care of oneself and perform common daily activities, to hold down a job and to enjoy a normal life. According to statistics, more than 10,000 spinal cord injuries are sustained each year throughout the United States, and the lives of the victims and their families are often forever changed, in just one instance.</p><br>
        <p>Understanding causes, recovery, treatments, what the future may hold and how to get the right help after a spinal cord injury accident can help keep families together and make life as normal as possible for the victim and their caregivers.</p><br>
        <p>Missed work, piling medical bills and other major life changes can also be overwhelming and create feelings of hopelessness. If you or a loved one has experienced a spinal cord injury, please contact our spinal cord injury attorneys. You may be entitled to compensation and our legal team will help ensure that you recover the maximum amount possible for the unplanned for and additional expenses that you now face.</p><br>
    </div>
</section>

<section>
    <div class="col-xs-12 col-md-12 xs-colored">
        <h3 class="section-header text-primary">What Are Common Causes of Spinal Cord Injuries?</h3>
        <p>Our persoanl injury attorneys have extensive experience in defending spinal cord injury victims and know how to handle complex traumatic spinal injury cases. Spinal injuries are commonly caused by a sudden and traumatic blow to the spine resulting from:</p><br>
        <ul class="fa-ul practicePageList">
            <li> <i class="fa-li fa fa-caret-right"></i></i>Motorcycle accidents</li>
            <li> <i class="fa-li fa fa-caret-right"></i>Car Accidents</li>
            <li> <i class="fa-li fa fa-caret-right"></i>Slips and Falls</li>
            <li> <i class="fa-li fa fa-caret-right"></i>Industrial Accidents</li>
            <li> <i class="fa-li fa fa-caret-right"></i>Extreme sports and recreational injuries</li>
            <li> <i class="fa-li fa fa-caret-right"></i>Acts of violence</li>
        </ul>
        <br>
    </div>
</section>

<section>
    <div class="col-xs-12 col-md-12">
        <h3 class="section-header text-primary">We Can Come to You</h3>
        <p>Call us at <a href="{{phoneNumber}}">{{phoneNumber}}</a> to schedule your free case review right away. If you can’t come to our office, we will be happy to send one of our personal injury attorneys to visit you at the hospital, in your home or rehabilitation / care facility. We will protect your legal rights and get you the compensation you deserve for your spinal cord injury so all you have to do is heal.</p><br>
    </div>
</section>
