<form class="jotform-form" action="https://submit.jotform.us/submit/70328775141153/" method="post" name="form_70328775141153" id="70328775141153" accept-charset="utf-8">
  <input type="hidden" name="formID" value="70328775141153" />
  <div class="col-lg-6 col-sm-12">
    <div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
              <label>First Name</label>
              <input type="text" id="first_3" name="q3_contact_name[first]" class="form-control" ng-model="user.first_name" required>
              <p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block">You name is required.</p>
    </div>
  </div>
  <div class="col-lg-6 col-sm-12">
    <div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
              <label>Last Name</label>
              <input type="text" id="last_3" name="q3_contact_name[last]" class="form-control" ng-model="user.last_name" required>
              <p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block">You name is required.</p>
    </div>
  </div>

  <div class="col-lg-6 col-xs-12">
    <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
        <label>Email</label>
        <input type="email" id="input_4" name="q4_contact_email" class="form-control" ng-model="user.email">
        <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>
    </div>
  </div>

  <div class="col-lg-6 col-xs-12">
    <div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
      <div class="col-xs-4 col-lg-3">
        <label>Area</label>
        <input type="tel" id="input_5_area" name="q5_contact_phone[area]" class="form-control" moveFocus maxlength="3" ng-model="user.phone_area" required>
      </div>
      <div class="col-xs-8 col-lg-9">
        <label>Number</label>
        <input type="tel" id="input_5_phone" name="q5_contact_phone[phone]" class="form-control" moveFocus maxlength="8" ng-model="user.phone_number" required>
      </div>
        <p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block">You name is required.</p>
    </div>
  </div>

  <div class="col-lg-12 col-xs-12">
    <div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
        <label>Case details:</label>
        <textarea id="input_6" name="q6_caseDetails" class="form-control" ng-model="user.case_details" required></textarea>
        <p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block">You name is required.</p>
    </div>
  </div>

  <div class="col-lg-6 col-lg-offset-3 col-xs-12 form-group text-center">
   <button type="submit" ng-disabled="userForm.$invalid" class="btn btn-primary btn-block btn-lg"><i class="fa fa-paper-plane" aria-hidden="true"></i> Send</button>
  </div>

</form>

<!--From Contact page  -->
<!-- <form role="form" method="POST" action="#">
    <div class="row">
        <div class="form-group col-lg-4">
            <label for="input1">Name</label>
            <input type="text" name="contact_name" class="form-control" id="input1">
        </div>
        <div class="form-group col-lg-4">
            <label for="input2">Email Address</label>
            <input type="email" name="contact_email" class="form-control" id="input2">
        </div>
        <div class="form-group col-lg-4">
            <label for="input3">Phone Number</label>
            <input type="phone" name="contact_phone" class="form-control" id="input3">
        </div>
        <div class="clearfix"></div>
        <div class="form-group col-lg-12">
            <label for="input4">Message</label>
            <textarea name="contact_message" class="form-control" rows="6" id="input4"></textarea>
        </div>
        <div class="form-group col-lg-12">
            <input type="hidden" name="save" value="contact">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form> -->
