   <div class="container contact-page" >
    <div>
      <div class="col-lg-12 xs-mb-20 xs-mt-20">
          <h1 class="page-header">Contact
              <span class="visible-lg"><small >We'd Love to Hear From You!</small></span>
          </h1>

      </div>
    <div class="row">

      <div class="col-xs-12 col-sm-12 visible-sm visible-xs text-center xs-mb-40">
        <!-- <h4>Give Us A Call</h4> -->
        <a href="tel:{{phoneNumber}}" class="btn wireButtonPrimary btn-block callToActionBtn"><i class="fa fa-phone"></i>{{phoneNumber}}</a>
        <br>
        <!-- <h4>Come See Us</h4> -->
        <a href="{{mapLink}}" class="btn wireButtonPrimary btn-block callToActionBtn" target="_blank"><i class="fa fa-location-arrow"></i>Get Directions</a>
      </div>
      <div class="col-lg-8 col-xs-12">

        <!--TabBoxes that house contact forms  -->
        <ng-include src="'/templates/partials/tabBoxes.html'"></ng-include>
        <!--Modal for terms and conditions  -->
        <ng-include src="'/templates/partials/contact-terms-and-conditions.html'"></ng-include>
      </div>
      <div class="col-lg-4 col-sm-12 col-xs-12 outerBox addressBox">
        <div class="box material-designShadow" style="margin-top: 28px; height: 327px;">
          <div class="row">
              <div class="col-sm-12">
                  <h3>Goldman Accident Lawyers</h3>
                  <h5>Scottsdale Personal Injury Experts</h5>
                <a href="{{mapLink}}" target="_blank">  <p>
                      {{addressStreetOne}}<br>
                      {{addressCityStateZip}}<br>
                  </p></a>
                  <br>
                  <h4><i class="fa fa-clock-o"></i> Business Hours</h4>
                  <p>{{businessHoursDays}}</p>
                  <p>{{businessHoursTimes}}</p>
                  </ul>
              </div>
          </div>
        </div>
      </div>
      </div>
    <div class="row">
      <div class="col-lg-4 col-sm-6 col-xs-6 outerBox visible-lg">
        <div class="box material-designShadow">
          <div class="imgBox">
            <img src="/assets/images/icons/chat-bubbles.png" alt="chat bubbles, png">
          </div>
          <h3>Live Chat</h3>
            <a href="javascript:void(Tawk_API.toggle())" class="btn wireButtonPrimary">Start Now</a>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 col-xs-6 outerBox visible-lg">
        <div class="box material-designShadow">
          <div class="imgBox">
            <img src="/assets/images/icons/cellphone-graphic.png" alt="cell phone, png">
          </div>
          <h3>Give Us a Call</h3>
          <a href="tel:{{phoneNumber}}" class="btn wireButtonPrimary">{{phoneNumber}}</a>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 col-xs-6 outerBox visible-lg">
        <div class="box material-designShadow">
          <div class="imgBox">
            <img src="/assets/images/icons/map-check.png" alt="map, png">
          </div>
          <h3>Come Visit Us</h3>
            <a href="{{mapLink}}" class="btn wireButtonPrimary" target="_blank">Our Location</a>
        </div>
      </div>
    </div>


  </div>
</div>

<div class="container-fluid fluid" ng-controller="ContactCtrl">
  <div class="row">
    <div class="col-lg-12">
      <div class="mapBox">

          <div id="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4433.349960742333!2d-111.90186301496792!3d33.65043229227407!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x872b74157eb177f7%3A0xa22f778a1734d047!2sGoldman+Accident+Lawyers!5e0!3m2!1sen!2sus!4v1486017770189" width="100%" height="{{mapHeight}}" scrollwheel="false" frameborder="0" dragable="true" style="border:0" allowfullscreen></iframe>
          </div>

      </div>
    </div>
  </div>
</div>

<!--
<ul class="list-unstyled list-inline list-social-icons">
    <li class="tooltip-social facebook-link"><a href="#facebook-page" data-toggle="tooltip"
                                                data-placement="top" title="Facebook"><i
                                                                                         class="fa fa-facebook-square fa-2x"></i></a></li>
    <li class="tooltip-social linkedin-link"><a href="#linkedin-company-page" data-toggle="tooltip"
                                                data-placement="top" title="LinkedIn"><i
                                                                                         class="fa fa-linkedin-square fa-2x"></i></a></li>
    <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip"
                                               data-placement="top" title="Twitter"><i
                                                                                       class="fa fa-twitter-square fa-2x"></i></a></li>
    <li class="tooltip-social google-plus-link"><a href="#google-plus-page" data-toggle="tooltip"
                                                   data-placement="top" title="Google+"><i
                                                                                           class="fa fa-google-plus-square fa-2x"></i></a></li> -->
