<div ng-controller="FreeConsultationCtrl">
  <div class="container-fluid consultationHero">
    <div class="row">
      <div class="col-lg-12 col-xs-12">
        <h2>Free Case Consultation</h2>
        <h3>Fill Out The Form Below</h3>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-xs-12">
        <!--TabBoxes that house contact forms  -->
        <ng-include src="'/templates/partials/tabBoxes.html'"></ng-include>
        <!--Modal for terms and conditions  -->
        <ng-include src="'/templates/partials/contact-terms-and-conditions.html'"></ng-include>
      </div>
      <div class="col-lg-4 col-sm-6 col-xs-6 outerBox visible-lg">
        <div class="box material-designShadow">
          <div class="imgBox">
            <img src="/assets/images/icons/chat-bubbles.png" alt="chat bubbles, png">
          </div>
          <h3>Live Chat</h3>
          <a href="javascript:void(Tawk_API.toggle())" class="btn wireButtonPrimary">Start Now</a>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 col-xs-6 outerBox visible-lg">
        <div class="box material-designShadow">
          <div class="imgBox">
            <img src="/assets/images/icons/cellphone-graphic.png" alt="cell phone, png">
          </div>
          <h3>Give Us a Call</h3>
          <a href="tel:{{phoneNumber}}" class="btn wireButtonPrimary">{{phoneNumber}}</a>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 col-xs-6 outerBox visible-lg">
        <div class="box material-designShadow">
          <div class="imgBox">
            <img src="/assets/images/icons/map-check.png" alt="map, png">
          </div>
          <h3>Come Visit Us</h3>
          <a href="{{mapLink}}" class="btn wireButtonPrimary" target="_blank">Our Location</a>
        </div>
      </div>
    </div>
  </div>
</div>
